################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BMEProjects/.vs/BMEProjects/v15/Server/sqlite3
/BME1B/.vs/BME1B/v15/Browse.VC.opendb
